.page-header
  %h1
    = t(:'users.show.title')
= render :partial => @user
.activities.row
  %h2= t(:'users.show.activities.title')
= render :partial => @user.activities.limit(14).order_by([[:created_at, :desc]])
%p.index-link= link_to t(:'activities.index.title'), user_activities_path(@user) if @user.activities.count
