.page-header
  %h1= t(:'hashtags.index.title')
.row
  - @hashtags.each do |hashtag|
    %span.hashtag{:class => "size-#{(hashtag.verses.count * @coef).to_s}"}
      = link_to hashtag.data, hashtag
      = "(#{hashtag.verses.count})"
