.row
  .span8
    .page-header
      %h1= t(:'home.index.hello_and_welcome')
    .text-block
      :markdown
        #{t(:'large_texts.home_index')}
  .span4
    - @motds.each do |motd|
      %div{:class => "alert alert-#{motd.level} alert-block top-padded"}
        %p= motd.data
    .well
      <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
      <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="icon" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj"></div> 
    %ul.thumbnails
      %li.span4
        .thumbnail
          %img{:src => "/assets/eye.png", :alt => "Eye, by Xenia Selkova"}
          %p
            Мы следим за тобой, и как бы анонсируем разработку новой фичи:
            %a{:href => "https://github.com/at8eqeq3/twietry/issues/9"} https://github.com/at8eqeq3/twietry/issues/9
    .well
      %p
        %strong= t(:'home.index.stats_header')
        = t(:'home.index.stats', :users => t(:'users.p', :count => @users_count), :verses => t(:'verses.p', :count => @verses_count), :lines => t(:'lines.p', :count => @lines_count))
.row
  .page-header
    %h2= t(:'home.index.activity')
= render :partial => @activities
