.row
  .span8
    .page-header
      %h1= t(:'home.index.hello_and_welcome')
    .text-block
      :markdown
        #{t(:'large_texts.home_index')}
  .span4
    .alert.alert-block.alert-warning
      <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
      <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="icon" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj"></div> 
    .alert.alert-block.alert-error
      TODO big nice picture here
    .alert.alert-block.alert-info
      %p
        %strong= t(:'home.index.stats_header')
        = t(:'home.index.stats', :users => t(:'users.p', :count => @users_count), :verses => t(:'verses.p', :count => @verses_count), :lines => t(:'lines.p', :count => @lines_count))
    .alert.alert-block.alert-success{:style => "text-align: center;"}
      - @users.each do |user|
        = link_to image_tag(user.userpic, :alt => user.name), user_path(user), :title => "#{user.name} (#{user.rating})"
.row
  .page-header
    %h2= t(:'home.index.activity')
= render :partial => @activities
