.row.item
  .span2
    = identicon_tag verse.id, 64
  .span8
    %h2
      %a{:href => verse_path(verse), :title => verse.idea}= verse.full_title
    %p
      = t(:'verses.show.created_by')
      = link_to verse.user.name, user_path(verse.user)
      - if verse.lines.count > 0
        |
        = t(:'verses.show.last_line_by')
        = link_to verse.lines.last.user.name, user_path(verse.lines.last.user)
      |
      = t(:'lines.p', :count => verse.lines.count)
  .span2
    = render :partial => "shared/rating", :locals => {:voteable => verse, :hide_rating => false}
