%script{:src => "assets/jquery.tablesorter.min.js"}
%script{:src => "assets/jquery-1.7.1.min.js"}
  :javascript
    $(function() {
      $("table#mytable.zebra-striped").tablesorter();
    });
.table
  %table#mytable.zebra-striped
    %thead
      %tr
        %th
          = t(:'verses.fields.title')
        %th
          = t(:'verses.author')
        %th
          = t(:'lines.title')
        %th
          = t(:'verses.last_user')
        %th
          = t(:'verses.status.title')
    = render :partial => "verses/list2", :object => @all_verses, :as => :verses