.page-header
- if current_user
  %h1= t(:'verses.new.title')
- else
  %center
    %a{:href => "/auth/twitter"}
      %img{:src => "/assets/signin.png"}
.row
- if current_user
  = form_for @verse do |f|
    %fieldset
      .clearfix
        %label{:for => "verse[title]"}= t(:'verses.fields.title')
        .input
          %input.xlarge.span9{:type => "text", :name => "verse[title]"}
          %span.help-block= t(:'verses.fields.title_hint')
      .clearfix
        %label{:for => "verse[idea]"}= t(:'verses.fields.idea')
        .input
          %textarea.xlarge.span9{:name => "verse[idea]"}
          %span.help-block= t(:'verses.fields.idea_hint')
    .actions
      %input.btn.primary{:type => "submit", :value => t(:'verses.fields.create')}
