.page-header
  %h1
    = @user.name
  %img{:src => @user.userpic}
  - @user.activities.order_by([[:created_at, :desc]]).each do |activity|
    %p
      = distance_of_time_in_words_to_now(activity.created_at)
      = t(:'activities.ago')
      = t(:"activities.actions.#{activity.action}")
      = link_to activity.trackable.title, activity.trackable
