.row.item
  .span1
    = identicon_tag activity.id, 32
  .span11
    = distance_of_time_in_words_to_now(activity.created_at)
    = t(:'activities.ago')
    = link_to(activity.user.name, activity.user) unless (controller_name == "users" or !params[:user_id].nil?)
    = t(:"activities.actions.#{activity.action}")
    = link_to activity.trackable.full_title, activity.trackable
