!!!DOCTYPE
%html
  %head
    %title Twietry
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=EB+Garamond&subset=latin,cyrillic"
    = stylesheet_link_tag "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .topbar
      .topbar-inner
        .container
          %a.brand{:title => "TWIETRY=TWItter+poETRY"} Twietry
          %ul.nav
            %li= link_to t(:'home.index.title'), root_path
            %li= link_to t(:'home.about.title'), about_path
            %li= link_to t(:'home.support.title'), support_path
            %li= link_to t(:'verses.new.title'), new_verse_path
          - if current_user
            %a.twi.pull-right{:href => current_user.twitter}
              %img{:src => current_user.userpic, :style => "width: 24px; height: 24px"}
              = current_user.name
          - else
            %a.twi.pull-right{:href => "/auth/twitter"}
              %img{:src => "/assets/sign-in-with-twitter-d.png"}
    .top-branding
      %img{:src => "/assets/twietry-top-branding.png"}
    .container
      - flash.each do |level, message|
        - if message.is_a? String
          .row
            .span10.offset3
              %div{:class => "alert-message #{level} top-padded"}
                %p= message
      .row
        .span12.offset2
          = yield
    .container
      %footer
        .row
          .span4.offset1
            %p
              %strong> TWIETRY
              & =
              %strong> TWI
              & tter+po
              %strong> ETRY
            %p= t(:'layout.whatis')
          .span2.offset2
            = session[:uid]
            = current_user.twitter
            image!
          .span4.offset2
            %ul.unstyled
              %li= link_to t(:'home.about.title'), about_path
              %li= link_to t(:'home.support.title'), support_path
              %li= link_to "@twietry", "http://twitter.com/twietry"

