!!!DOCTYPE
%html
  %head
    %title Twietry
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=EB+Garamond&subset=latin,cyrillic"
    = javascript_include_tag "application"
    %script{:src => "http://twitter.github.com/bootstrap/1.4.0/bootstrap-dropdown.js", :type => "text/javascript"}
    = csrf_meta_tags
    - if controller.controller_name == "verses" and controller.action_name == "show"
      %link{:rel => "alternate", :type => "application/json+oembed", :href => "http://#{request.host}/oembed.json?url=#{request.url.sub('://', '%3A//')}", :title => "twietry verse oembed in json"}
      %link{:rel => "alternate", :type => "application/xml+oembed", :href => "http://#{request.host}/oembed.xml?url=#{request.url.sub('://', '%3A//')}", :title => "twietry verse oembed in xml"}
  %body
    .navbar{:'data-dropdown' => "dropdown"}
      .navbar-inner
        .container
          %a.brand{:title => "TWIETRY=TWItter+poETRY"}
            %img{:src => "/assets/logo40.png", :alt => "twietry logo"}
          %ul.nav
            %li= link_to t(:'home.index.title'), root_path
            %li= link_to t(:'home.about.title'), about_path
            %li= link_to t(:'users.index.title'), users_path
            %li= link_to t(:'hashtags.index.title'), hashtags_path
            %li= link_to t(:'verses.all.title'), verses_path
            - if current_user
              %li= link_to t(:'verses.new.title'), new_verse_path
          %ul.nav.pull-right
            - if current_user
              %li.dropdown
                %a.dropdown-toggle{:href => "#"}
                  = current_user.name
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to t(:'users.show.title'), user_path(current_user)
                  %li= link_to t(:'auth.logout'), auth_logout_path
            - else
              %li
                %a.twi.pull-right{:href => "/auth/twitter"}
                  %img{:src => "/assets/sign-in-with-twitter-d.png"}
    .container.body
      - flash.each do |level, message|
        - if message.is_a? String
          .row
            .span10.offset1
              %div{:class => "alert alert-#{level} top-padded"}
                %p= message
      - @motds.each do |motd|
        .row
          .span10.offset1
            %div{:class => "alert alert-#{motd.level} alert-block top-padded"}
              %p= motd.data
      = yield
    .container
      %footer
        .row
          .span4.right
            %p
              %strong> TWIETRY
              & =
              %strong> TWI
              & tter+po
              %strong> ETRY
            %p= t(:'layout.whatis')
            %p
              %small
                Running Twietry /
                = ENV['TWIETRY_MODE']
                = ENV['TWIETRY_VERSION']
                on Rails
                = Rails.version
                in
                = Rails.env
                environment
          .span4.center
            %img{:src => "/assets/logo100.png", :alt => "feathers"}
          .span4.left
            %ul.unstyled
              %li= link_to t(:'home.about.title'), about_path
              %li= link_to t(:'home.support.title'), support_path
              %li
                twi:
                = link_to "@twietry", "http://twitter.com/twietry"
              %li
                gh:
                = link_to "at8eqeq3/twietry", "https://github.com/at8eqeq3/twietry"
    - if Rails.env == "production"
      :javascript
        var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.dxfoto.ru/" : "http://piwik.dxfoto.ru/");
        document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
      :javascript
        try {
          var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 3);
          piwikTracker.trackPageView();
          piwikTracker.enableLinkTracking();
        } catch( err ) {}
      %noscript
        %p
          %img{:src => "http://piwik.dxfoto.ru/piwik.php?idsite=3", :style => "border: 0;", :alt => ""}
