!!!DOCTYPE
%html
  %head
    %title Twietry
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=EB+Garamond&subset=latin,cyrillic"
    = stylesheet_link_tag "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"
    = javascript_include_tag "application"
    %script{:src => "http://twitter.github.com/bootstrap/1.4.0/bootstrap-dropdown.js", :type => "text/javascript"}
    = csrf_meta_tags
  %body
    .topbar{:'data-dropdown' => "dropdown"}
      .topbar-inner
        .container
          %a.brand{:title => "TWIETRY=TWItter+poETRY"} Twietry
          %ul.nav
            %li= link_to t(:'home.index.title'), root_path
            %li= link_to t(:'home.about.title'), about_path
            %li= link_to t(:'home.support.title'), support_path
            %li= link_to t(:'verses.all.title'), verses_path
            %li= link_to t(:'verses.new.title'), new_verse_path
          - if current_user
            %ul.nav.secondary-nav
              %li.dropdown
                %a.dropdown-toggle{:href => "#"}= current_user.name
                %ul.dropdown-menu
                  %li= link_to t(:'user.show.title'), user_path(current_user)
                  %li= link_to t(:'auth.logout'), auth_logout_path
          - else
            %a.twi.pull-right{:href => "/auth/twitter"}
              %img{:src => "/assets/sign-in-with-twitter-d.png"}
    .top-branding
      %img{:src => "/assets/logo80.png"}
    .container
      - flash.each do |level, message|
        - if message.is_a? String
          .row
            .span10.offset3
              %div{:class => "alert-message #{level} top-padded"}
                %p= message
      .row
        .span12.offset2
          = yield
    .container
      %footer
        .row
          .span4.offset1
            %p
              %strong> TWIETRY
              & =
              %strong> TWI
              & tter+po
              %strong> ETRY
            %p= t(:'layout.whatis')
          .span2.offset2
            %img{:src => "/assets/logo100.png"}
          .span4.offset2
            %ul.unstyled
              %li= link_to t(:'home.about.title'), about_path
              %li= link_to t(:'home.support.title'), support_path
              %li= link_to "@twietry", "http://twitter.com/twietry"

